/* You can add global styles to this file, and also import other style files */

@import "~@progress/kendo-theme-default/scss/combobox/_index.scss";

.heading {
  background-color: #143055;
  color: white;
  padding: 5px;

  &.subheading {
    background-color: #e91e63;
  }
}
